<div class="container fluid my-5 pt-5">
    <table class="table table-boarded mt-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Continent</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries;let i = index">
        <td>{{ country.name}}</td>
        <td>{{ country.continent.name}}</td>
        <td><button type="button" class="btn btn-sm btn-danger" (click)="removeCountry(country.UUID)">DELETE</button> </td>
        <td><button type="button" class="btn btn-sm btn-primary" [routerLink]="['/countries/edit', country.UUID]">EDIT</button> </td>
      </tr>
    </tbody>
 </table>
</div>