<div class="country-table ">
  <div class="row">
    <button type="button" class="btn btn-sm btn-success" routerLink="/countries/add">ADD</button>
</div>
    <table class="table table-boarded">
    <thead>
      <tr>
        <th>Name</th>
        <th>Continent</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries;let i = index">
        <td>{{ country.name}}</td>
        <td>{{ country.continent.name}}</td>
        <td><button type="button" class="btn btn-sm btn-danger" (click)="removeCountry(country.UUID)">DELETE</button> </td>
        <td><button type="button" class="btn btn-sm btn-primary" [routerLink]="['/countries/edit', country.UUID]">EDIT</button> </td>
      </tr>
    </tbody>
 </table>
</div>