<footer class="content-fluid bg-secondary text-black p-5">
    <div class="row">
        <div class="col-3">
            <h4>Erik Vainumäe</h4>
            <p>Responsibility: Angular</p>
            <div class="social">
                <ul>
                    <li><a href="" target="_blank"><img src="..//..//assets/img/github.svg" alt=""></a></li>
                    <li><a href="" target="_blank"><img src="..//..//assets/img/linkedin.svg" alt=""></a></li>
                    <li><a href="" target="_blank"><img src="..//..//assets/img/facebook.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <h4>Ott Pikk</h4>
            <p>Responsibility: Spring</p>
        </div>
        <div class="col-3">
            <h4>Kimmo Pormann</h4>
            <p>Responsibility: Spring</p>
        </div>
        <div class="col-3"><img src="../../assets/img/sda-logo.svg" alt=""></div>
    </div>
</footer>