footer img{
    width: 200px;
}
.social{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.social  li{
    list-style: none;
}

.fb{
    background: url(../../assets/img/facebook.svg) no-repeat;
}
.li{
    background: url(../../assets/img/linkedin.svg) no-repeat;
}
.gh{
    background: url(../../assets/img/github.svg) no-repeat;
}
.fb, .li, .gh{
width: 25px;
height: 25px;
background-size: contain;
background-position: center;
margin-right: 10px;
transition: 500ms;
}
.fb:hover, .li:hover, .gh:hover{
    filter: invert(1);
}
