<footer class="content-fluid bg-secondary text-black p-5">
    <div class="row">
        <div class="col-3">
            <h4>Erik Vainumäe</h4>
            <p>Responsibility: Angular/Spring</p>
            <div class="social">
                    <li><a href="https://www.facebook.com/allilmm/" target="_blank"><div class="fb"></div></a></li>
                    <li><a href="https://www.linkedin.com/in/erik-vainumae-572411b0/" target="_blank"><div class="li"></div></a></li>
                    <li><a href="https://github.com/erik-vm" target="_blank"><div class="gh"></div></a></li>
            </div>
        </div>
        <div class="col-3">
            <h4>Ott Pikk</h4>
            <p>Responsibility: Spring</p>
            <div class="social">
                <li><a href="" target="_blank"><div class="fb"></div></a></li>
                <li><a href="https://www.linkedin.com/in/ott-pikk-b5282b14a/" target="_blank"><div class="li"></div></a></li>
                <li><a href="https://github.com/ottpikk" target="_blank"><div class="gh"></div></a></li>
        </div>
        </div>
        <div class="col-3">
            <h4>Kimmo Pormann</h4>
            <p>Responsibility: Spring</p>
            <div class="social">
                <li><a href="" target="_blank"><div class="fb"></div></a></li>
                <li><a href="https://www.linkedin.com/search/results/all/?keywords=Kimmo%20Pormann&origin=GLOBAL_SEARCH_HEADER&sid=2*_" target="_blank"><div class="li"></div></a></li>
                <li><a href="https://github.com/kimmopormann" target="_blank"><div class="gh"></div></a></li>
        </div>
        </div>
        <div class="col-3"><a href="https://sdacademy.ee/" target="_blank"><img src="../../assets/img/sda-logo.svg" alt=""></a><hr>
        <p>JavaRemoteEE15 <strong>2022</strong> </p></div>
    </div>
</footer>