    <div class="country-form">
      <form [formGroup]="countryForm" (ngSubmit)="onSubmit()" class="form-signin">
         <h2>{{isEditing ? 'Edit' : 'Add'}} the country</h2>
         <div id="data" class="row">
          <div class="col-6">
          <div class="form-group">
            <label for="name">Country name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <span class="help-block" *ngIf="countryForm.get('name')?.errors?.required && countryForm.get('name')?.touched">It is a required value</span>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="continent">Continent</label>
            <select id="continent" class="form-control" formControlName="continent">
              <option *ngFor="let continent of continents" [value]="continent.id">{{ continent.name }}</option>
            </select>
          </div>
        </div>
           <input type="hidden" name="id" class="form-control" formControlName="id">

           <input type="hidden" name="active" class="form-control" formControlName="active">
          </div>
        <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" [disabled]="countryForm.invalid">Submit</button>
      </form>
 </div>
