nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 90, 0.662);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.605);
}
.logo a{
    display: flex;
    align-items: flex-end;
    filter: invert(1);
    color: #000;
    text-decoration: none;
}
.logo img{
   width: 70px;
}
.menu{
    margin-top: 30px;
}
.menu ul{
display: flex;
list-style: none;
}
.menu ul li a{
color: rgba(255, 255, 255, 0.711);
text-decoration: none;
text-transform: uppercase;
margin-left: 20px;
transition: 300ms;
}
.menu ul li a:hover{
    color: rgb(255, 255, 255);
    }

