<div class="hero">
    <div class="row container-fluid hero-content"> 
        <div class="hero-text col-5">
        <h2>Time to find your next adventure</h2>
        <button class="btn btn-danger mt-5 btn-hero">Check out our best offers</button>
    </div>
    <div class="col-7"></div>
</div>
</div>

<!-- Popular destination section -->
<section class="container-fluid popular-trips text-center py-5 mt-3">
    <h2>Our most popular destinations</h2>
    <div class="line"></div>
    <div class="container text-center mt-5" >
      <div class="row align-items-start">
        <div class="col">
          <div class="card">
            <div class="imgBox">
                <img src="../../assets/img/madives.jpg" alt="">
            </div>
            <div class="content">
                <h2>Maldives</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maiores consectetur voluptate praesentium possimus nam!</p>
                <hr>
                <button class="btn btn-danger">Book now</button>
            </div>
        </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="imgBox">
                <img src="../../assets/img/brazil.jpg" alt="">
            </div>
            <div class="content">
                <h2>Brazil</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maiores consectetur voluptate praesentium possimus nam!</p>
                <hr>
                <button class="btn btn-danger">Book now</button>
            </div>
        </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="imgBox">
                <img src="../../assets/img/australia.jpg" alt="">
            </div>
            <div class="content">
                <h2>Australia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maiores consectetur voluptate praesentium possimus nam!</p>
                <hr>
                <button class="btn btn-danger">Book now</button>
            </div>
        </div>
        </div>
      </div>
    </div>
</section>
<!-- Search for a trip -->
<section class="container-fluid search-trip text-center">
  <h2>Search for you next adventure</h2>
  <div class="line"></div>
 
</section>

<!-- About us / useful links -->