<div class="hero">
    <div class="row container-fluid hero-content">
        <div class="hero-text col-5">
        <h2>Time to find your next adventure</h2>
        <button class="btn btn-danger mt-5 btn-hero">Check out our best offers</button>
    </div>
    <div class="col-7"></div>
</div>
</div>

<!-- Popular destination section -->
<section class="container-fluid popular-trips text-center py-5 mt-3">
    <h2>Our most popular destinations</h2>
    <div class="line"></div>
    <div class="container text-center mt-5" >
      <div class="row align-items-start">
        <div class="col">
          <div class="card">
            <div class="imgBox">
                <img src="../../assets/img/maldives.jpg" alt="">
            </div>
            <div class="content">
                <h2>Maldives</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maiores consectetur voluptate praesentium possimus nam!</p>
                <hr>
                <button class="btn btn-danger">Book now</button>
            </div>
        </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="imgBox">
                <img src="../../assets/img/brazil.jpg" alt="">
            </div>
            <div class="content">
                <h2>Brazil</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maiores consectetur voluptate praesentium possimus nam!</p>
                <hr>
                <button class="btn btn-danger">Book now</button>
            </div>
        </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="imgBox">
                <img src="../../assets/img/australia.jpg" alt="">
            </div>
            <div class="content">
                <h2>Australia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maiores consectetur voluptate praesentium possimus nam!</p>
                <hr>
                <button class="btn btn-danger">Book now</button>
            </div>
        </div>
        </div>
      </div>
    </div>
</section>
<!-- Search for a trip -->
<section class="container-fluid search-trip text-center">
  <h2>Search for you next adventure</h2>
  <div class="line"></div>
  <form>
    <div class="row search-form">
      <div class="col">
        <input type="text" class="form-control" placeholder="From where?">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Where to?">
      </div>
    </div>
  </form>
</section>

<!-- About us / useful links -->
<section class="container-fluid about-us p-5 my-5">
<div class="row">
  <div class="col">
    <div class="about-us-header d-flex"> <img src="../../assets/img/pilgrim-icon.png" alt=""><h2>Pilgrims Travel Agency</h2></div>

    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facilis adipisci voluptatum odit, quod iusto corporis! Sit optio tenetur unde dolore excepturi molestias maiores sint est impedit ratione facilis nam, non, consequuntur porro magnam eum voluptatum voluptatibus. Ullam asperiores exercitationem labore natus ducimus, ratione ipsa provident blanditiis mollitia iusto totam.
    </p>
    <a href="mailto: info@pilgrims.com"><i class="bi bi-envelope-heart" style="font-size: 20px;"></i> info@pilgrims.com</a>
    <br>
    <a href="tel:+37255555555"><i class="bi bi-telephone" style="font-size: 20px;"></i> +372 5555 5555</a>
    <br>
    <br>
    <p>Check out current COVID <a href="https://reopen.europa.eu/en" target="_blank"><strong>restrictions</strong></a></p>
    <p>Check out VISA <a href="https://www.visahq.com/" target="_blank"><strong>requirements</strong></a></p>
  </div>
  <div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14475.862141679176!2d30.74707518071912!3d-24.899157194569124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ec266618f580ea7%3A0x9a3d5ce1c82279cb!2sPilgrim&#39;s%20Rest%2C%201290%2C%20L%C3%B5una-Aafrika%20Vabariik!5e0!3m2!1set!2see!4v1663403013086!5m2!1set!2see" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
</section>
