<div class="hero">
    <div class="row container-fluid hero-content"> 
        <div class="hero-text col-5">
        <h2>Time to find your next adventure</h2>
        <button class="btn btn-danger mt-5 btn-hero">Check out our best offers</button>
    </div>
    <div class="col-7"></div>
</div>
   
</div>
<div class="container-fluid popular-trips text-center py-5 mt-3">
    <h2>Our most popular trips</h2>
    <div class="line"></div>
    <div class="container text-center mt-5" ></div>
    <div class="row align-items-start">
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
      </div>
     
</div>
